<%if(success && success.length>0) {%>
<div
  class="alert alert-success alert-dismissable fade show"
  role="alert"
>
  <!-- "Role" makes the alert announced for people
    using screen readers -->
  <%=success%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%> <%if(error && error.length>0) {%>
<div
  class="alert alert-danger alert-dismissable fade show"
  role="alert"
>
  <%=error%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
